html,
body,
.grid-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f2f2f2;
  font-size: 11pt;
  overflow: auto;
}

.loading {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 45vh;
  z-index: 99999;
  font-size: 3rem;
  text-align: center;
  background-color: black;
  -webkit-animation: pulseLoading 0.2s infinite;
          animation: pulseLoading 0.2s infinite;
}

@-webkit-keyframes pulseLoading {
  0%, 100% {
    /* background-color: rgb(78, 78, 78); */
    color: black;
  }
  50% {
    color: #f2f2f2;
  }
}

@keyframes pulseLoading {
  0%, 100% {
    /* background-color: rgb(78, 78, 78); */
    color: black;
  }
  50% {
    color: #f2f2f2;
  }
}

.grid-container *:after {
  /* content: attr(class); */
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 1.5fr 0.9fr 1.1fr;
      grid-template-columns: 0.5fr 1.5fr 0.9fr 1.1fr;
  -ms-grid-rows: 50px 1fr 20px;
      grid-template-rows: 50px 1fr 20px;
      grid-template-areas: "navbar navbar navbar infobar" "content content content content" "footbar footbar footbar footbar";
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: navbar;
  padding: 10px 0 0 15px;
  font-size: 1.8rem;
  background-color: #2e2e2e;
  color: #f2f2f2;
  border-bottom: 1px solid black;
}

.infobar {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: infobar;
  text-align: center;
  color: #f2f2f2;
  background-color: red;
  font-size: 4vh;
  padding-top: 5px;
  border-bottom: 1px solid black;
  letter-spacing: 10px;
}

.menubar {
  grid-area: menubar;
  background-color: #2e2e2e;
  border-right: 1px solid black;
}

.footbar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footbar;
  background-color: black;
  text-align: right;
  padding: 5px 15px 0 0;
  color: #f2f2f2;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: content;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.unidade {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  min-width: 50%;
}

.descricao {
  width: 200px;
  background-color: rgba(179, 180, 179, 0.157);
  border-right: 1px solid rgba(179, 180, 179, 0.31);
  text-transform: uppercase;
  text-align: center;
  font-size: .9rem;
}

.descricao p {
  font-size: 1.1rem;
  background-color: #2e2e2e;
  color: #f2f2f2;
  text-align: center;
  padding: 5px;
}

.leitos {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 5px;
}

.font-bold {
  font-weight: bold;
}

.text-small {
  font-size: 0.7rem;
}

.leito {
  padding: 5px;
  width: 60px;
  font-size: .7rem;
  margin: 3px;
  border: 1px solid rgba(46, 46, 46, 0.7);
  text-align: center;
  max-height: 15px;
}

.leito .tempo {
  font-size: 95%;
  padding-left: 10px;
  margin-left: 2px;
}

/* 
    ##############################################################
    ############################################################## 
  */
.leito-status-vazio {
  background: white;
}

.leito-status-reservado {
  background: #585858;
  color: #f2f2f2;
}

.leito-status-bloqueado {
  background: #000;
  color: #f2f2f2;
}

.leito-status-ok {
  background: #88cc908e;
}

.leito-status-pendente {
  background: #d99de6c2;
}

.leito-status-reservado {
  background: #d7d89b;
  color: black;
}

.leito-status-precaucao {
  background: #bf6363;
}

.leito-status-manutencao {
  background: #6eb5c5;
}

.leito-status-ok {
  background: #88cc90;
}

.leito-status-alerta-mews {
  /* animation: pulseMews 2s infinite; */
  -webkit-box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.5);
  box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.5);
}

.leito-status-alerta-mews {
  -webkit-animation: pulseMews 1s infinite;
          animation: pulseMews 1s infinite;
  border: 1px solid red;
}

@-webkit-keyframes pulseMews {
  0%, 100% {
    color: red;
    -webkit-box-shadow: -1px 3px 20px -1px rgba(248, 0, 0, 0.8);
    box-shadow: -1px 3px 20px -1px rgba(248, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.6);
    color: yellow;
    -webkit-box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.8);
    box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.8);
  }
}

@keyframes pulseMews {
  0%, 100% {
    color: red;
    -webkit-box-shadow: -1px 3px 20px -1px rgba(248, 0, 0, 0.8);
    box-shadow: -1px 3px 20px -1px rgba(248, 0, 0, 0.8);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.6);
    color: yellow;
    -webkit-box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.8);
    box-shadow: -1px 3px 20px -1px rgba(248, 244, 0, 0.8);
  }
}

.leito-status-longa-internacao > .tempo {
  -webkit-animation: pulseLongaInternacao .3s infinite;
          animation: pulseLongaInternacao .3s infinite;
  text-decoration: underline;
}

@-webkit-keyframes pulseLongaInternacao {
  0%, 100% {
    color: #747474;
  }
  50% {
    color: #424242;
  }
}

@keyframes pulseLongaInternacao {
  0%, 100% {
    color: #747474;
  }
  50% {
    color: #424242;
  }
}

/* 
    ##############################################################
    ############################################################## 
  */
.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.pull-right {
  float: right !important;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.pill {
  display: inline-block;
  font-weight: bold;
}

.cor2 {
  color: #edca14;
}
/*# sourceMappingURL=estrategico.css.map */